<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="seleniumBaseUrl" value="http://192.168.1.6/" />
  </appSettings>
  <autofac xdt:Transform="Replace">
    <components>
      <component
              name="IE"
              type="Baseclass.Contrib.SpecFlow.Selenium.NUnit.RemoteWebDriver, Baseclass.Contrib.SpecFlow.Selenium.NUnit.SpecFlowPlugin"
              service="OpenQA.Selenium.IWebDriver, WebDriver"
              instance-scope="per-dependency">
        <parameters>
          <parameter name="browser" value="InternetExplorer" />
          <parameter name="url" value="http://192.168.1.3:4444/wd/hub" />
        </parameters>
      </component>
      <component
              name="Chrome"
              type="Baseclass.Contrib.SpecFlow.Selenium.NUnit.RemoteWebDriver, Baseclass.Contrib.SpecFlow.Selenium.NUnit.SpecFlowPlugin"
              service="OpenQA.Selenium.IWebDriver, WebDriver"
              instance-scope="per-dependency">
        <parameters>
          <parameter name="url" value="http://192.168.1.3:4444/wd/hub" />
          <parameter name="browser" value="Chrome">
          </parameter>
        </parameters>
      </component>
      <component name="Firefox"
                 type="Baseclass.Contrib.SpecFlow.Selenium.NUnit.RemoteWebDriver, Baseclass.Contrib.SpecFlow.Selenium.NUnit.SpecFlowPlugin"
                 service="OpenQA.Selenium.IWebDriver, WebDriver"
                 instance-scope="per-dependency">
        <parameters>
          <parameter name="url" value="http://192.168.1.3:4444/wd/hub" />
          <parameter name="browser" value="Firefox" />
        </parameters>
      </component>
      <component name="Safari"
                 type="Baseclass.Contrib.SpecFlow.Selenium.NUnit.RemoteWebDriver, Baseclass.Contrib.SpecFlow.Selenium.NUnit.SpecFlowPlugin"
                 service="OpenQA.Selenium.IWebDriver, WebDriver"
                 instance-scope="per-dependency">
        <parameters>
          <parameter name="url" value="http://192.168.1.3:4444/wd/hub" />
          <parameter name="browser" value="Safari" />
        </parameters>
      </component>
    </components>
  </autofac>
  <specFlow>
    <plugins xdt:Transform="Replace">
      <add name="Baseclass.Contrib.SpecFlow.Selenium.NUnit" path="..\packages\Baseclass.Contrib.SpecFlow.Selenium.NUnit.1.2.0\tools" />
    </plugins>
  </specFlow>
</configuration>